@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/oswald-v40-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/oswald-v40-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("../fonts/oswald-v40-latin_cyrillic-500.woff2") format("woff2"),
    url("../fonts/oswald-v40-latin_cyrillic-500.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/montserrat-v18-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/montserrat-v18-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("../fonts/montserrat-v18-latin_cyrillic-500.woff2") format("woff2"),
    url("../fonts/montserrat-v18-latin_cyrillic-500.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  src: local(""),
    url("../fonts/montserrat-v18-latin_cyrillic-500italic.woff2")
      format("woff2"),
    url("../fonts/montserrat-v18-latin_cyrillic-500italic.woff") format("woff");
}

/* Common - общие свойства */

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 1440px;
  margin: 0 auto;
  border: 1px solid red;
}

img {
  display: block;
}

.order-call {
  display: inline-block;
  padding: 22px 108px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 43,88px;
  color: #060D10;
  background-color: linear-gradient(208.35deg, #66D1FF 43.85%, rgba(196, 196, 196, 0) 43.86%);
  border: 3px solid #060D10;
  text-decoration: none;
  border-radius: 4px;
}

.main-nav-list-start {
  display: inline-block;
  padding: 41px 8px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 29,26px;
  color: #060D10;
  background-color: linear-gradient(208.35deg, #66D1FF 43.85%, rgba(196, 196, 196, 0) 43.86%);
  border: 3px solid #060D10;
  text-decoration: none;
  border-radius: 4px;
}

/* Header */
.header {
padding: 40px 0;
 background-color:#66D1FF;
 color: #060D10;
}

.header-wrap {
display: flex;
justify-content: space-between;
align-items: center;
}


.logo {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 47px;
  text-decoration: none;
  color: inherit;
}



.logo {
  /* font-family: sans-serif; не понимаю, какой шрифт по макету? */
  text-decoration: none;
  /*color: inherit; пока пусть будет*/
}
/*.main-nav-list {
} есть смысл давать значение этому классу, если order и number-phone разные?*/

.order {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}
.number-phone {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #060d10;
}

/*about*/
.about {
}

.about-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 89px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.about-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  text-shadow: #060d10;
}

/*benefits*/

.benefits-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 167%;
  text-align: center;
  text-transform: uppercase;
  color: #060d10;
}

.benefits-title-desc {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 167%;
  text-transform: uppercase;
  color: #060d10;
}

.order-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
